<h1> cocktails edits</h1>

<div id="allyourList">
<ul>
    {{#each cocktailfromDB}}
   

   <h2> <li>{{title}}</li> </h2>
    {{!-- <li>{{glass}}</li>
    <li>{{liquor}}</li>
    <li>{{instructions}}</li> --}}
   <button> <a href="/cocktails-edits/{{_id}}/edit"> details-list!</a></button>
    {{/each}}
</ul>


</div>
