{{!-- cocktail-details --}}
<h2>Edit drinks</h2>


 {{#each cocktailfromDB}}

 <form action="/cocktailSearch/{{_id}}"method="POST"> 
     <br>
  <input type="text" name="title" value="{{strDrink}}"hidden>   
  <input type="text" name="glass" value="{{strGlass}}"hidden> 
    <input type="text" name="liquor" value="{{strIngredient1}}"hidden> 
          <input type="text" name="instructions" value="{{strInstructions}}"hidden> 
          <div id="imgdrink">
                <img src="{{strDrinkThumb}}" class="rounded mx-auto d-block"alt="" data-holder-rendered="true" width="250" height="250" /> <br> 
</div>
            </form>
            
    
{{/each}}

</form>
