<h2> cocktails List </h2>

<div id="random">
    
<ul>
    {{#each randomdrinks }}
     <form action="/cocktails-list" method="GET"> <br>
                 
        
         Cocktail: {{ strDrink }} <br>
          Catagory: {{strCategory}} <br> 
          Glass: {{strGlass}} <br> 
          Ingredient: {{strIngredient1}} {{strIngredient2}} {{strIngredient3}} <br> 
         Measure: {{strMeasure1}} ,{{strMeasure2}} {{strMeasure3}} <br>
           <img src="{{strDrinkThumb}}"alt=""> <br> <button> pick a random cocktail </button> 

        
    
            
            </form>
    {{/each}}
</ul>

</div>


