<h2> Edit your Drinks
  unknown hbs cocktail-details </h2>

<div id="yourList"> 
    
<ul class="list-group list-group-flush">

    {{#each cocktailFromDB}}

    <form action="/cocktails-list" method="Get" >
    
  
</form>
     
             
    {{#each randomdrinks }}
    
    <div  class="mx-auto" style="width: 200px;">
      
    
     <form action="/cocktails" method="POST"> <br>
            
   
        <h4 > 
             Cocktail: {{ strDrink }} <br>
          Catagory: {{strCategory}} <br> 
          Glass: {{strGlass}} <br> 
          Ingredient: {{strIngredient1}} {{strIngredient2}} {{strIngredient3}} <br> 
         Measure: {{strMeasure1}} ,{{strMeasure2}} {{strMeasure3}} <br>
           <div id="imgdrink">
                <img src="{{strDrinkThumb}}" class="rounded mx-auto d-block"alt="" data-holder-rendered="true" width="250" height="250" /> <br> 

        </h4> 
           </div>
    
            <button type="submit" > Add </button>
            {{/each}}
            </form>

            
 


</div>
 <button> <a href="/cocktails-details"> </a>Save</button>
</form> <button> <a href="/cocktails-details"> </a>Edit</button></form>
  <button> <a href="/cocktails-details"> </a>Delete</button></form>