<div class="justify-content-left" >

<h1 id=  "Welcome">Welcome, {{ userInSession.username }} </h1>

<ul>
    

    {{#each cocktailsfromDB}}

        <li> <a href="/alcohol/{{_id}}"> {{ title }}  </a> </li>

            {{!-- <form action="/books/{{_id}}/delete" method="post">
                <button> Delete </button>
            </form>
            <a href="/books/{{_id}}/edit"> Edit </a> --}}
       
    {{/each}}
</ul>

{{#if userInSession}}

 {{!-- <img class="rounded-circle" src='{{userInSession.profilePicture}}' alt='Profile picture'
            data-holder-rendered="true" width="250" height="250" /> --}}




<br>
   

 
<div class="btn-group">
  <a href="/cocktails-create" class="btn btn-warning"
  style =
    "color: #ffc107;
    background-color: #007bff;
    border-color: #c707ff"
>Create A Drink*</a>
</div>

<div class="btn-group">
<a href="/cocktails-details" class="btn btn-warning"
style =
    "color: #ffc107;
    background-color: #007bff;
    border-color: #c707ff"
>Edit Drink List*</a>
</div>

{{else}}
 <h3> No logged in user! </h3>
   
{{/if}}

{{#if errorMessage}}
    <p><b> {{ errorMessage }} </b></p>
{{/if}}


</div> 
